{
  "extends": "./node_modules/aurelia-tools/.eslintrc.json",
  "rules": {
    "no-alert": 0,
    "no-console": 0,
    "consistent-return": 0,
    "no-trailing-spaces": 0,
    "no-unused-vars": [0, {
      "vars": "local",
      "args": "none"
    }],
    "quotes": [
      0, "double", "avoid-escape"
    ]
  }
}
